.navbar_menu {
    display: flex;
    justify-content: space-between;
}

.header_form {
    display: flex;
    justify-content: right;
}

.link_header {
    color:white; 
    padding: 0 20px;
}

.link_header:hover {
    color: #efb328;
}

/* .nav-link .active  {
    color:#efb328;;
} */
